* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

section img {
    width: 100%;
    max-width: 300px;
}

header{
    border-bottom: 1px solid #CD5C5C;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    width: 100%;
    height: 3em;
}

header ul {
    text-align: left;
}


header li a {
    color: #8B475D;
    font-weight: lighter;
    text-transform: uppercase;
}

header li{
    display: inline-block;
    margin-left: 3em;
}

#contato li {
display: inline-block;
margin: 1em;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

section{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.identificacao {
    background-color: #8B475D;
    color: #FFF0F5;
    padding: 10em 2em 7em;
}

.identificacao h1{
    font-size: 2.5em;
    margin-bottom: 0.7em;
}

.identificacao h2 {
    font-size: 1.5em;
    font-weight: lighter;
}

section h3 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
}

header li a {
    color: #CD5C5C;
    font-weight: lighter;
}

.escuras {
    background-color: #CD5C5C;
    color: #FFF0F5;
}

.claras{
background-color: #fff0f5;
color: #CD5C5C;;
}

.projetos-header {
    float: left;
}

.styleprojetos{
    margin-left: 40%
}

.styleprojetos li{
    background-color: #FFA07A;
    padding: 1em;
    margin-bottom: 2em;
}    


.styleprojetos li a{
    color: #fff0f5;
    font-size: 1.3em;
}

.styleprojetos li p{
    color: #fff0f5;
    margin-top: 0.5em; 
    text-align: justify;
    line-height: 1.2;
}

#sobre p.text{
    margin:1em;
    width: 50%;
    text-align: justify;
    line-height: 1.4;
}

#sobre p.bio{
    color: #8B475D;
    font-size: 1.5em;
    margin: 1em;
    width: 50%;
}

#sobre {
    position: relative;
}

#sobre img{
    width: 200px;
    position: absolute;
    top: 2.5em;
    right: 10%;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
}